<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="jumbotron">
    <h1 class="display-4">Welcome To {{title}}}</h1>
    <p class="lead">This is a simple todo list with a login to a backend database using SQL Server and Angular javascript to add and remove things from todo.</p>
    <hr class="my-4">
    <router-outlet></router-outlet>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>

